<div class="container">
  <%= render 'shared/header' %>
  <div class="content">
    <%= render 'shared/sidebar' %>
    <main class="hotel-view">
      <%= render 'shared/gallery' %>
      <%= render 'shared/overview' %>
      <%= render 'shared/detail' %>
      <%= render 'shared/cta' %>
    </main>
  </div>
</div>
